<!-- Imagen de carga -->
<div id="cni__preloader">
    <div id="cni__circle_loader"></div>
    <div class="cni__loader_logo"><img src="/images/logo.webp" alt="Preload"></div>
</div>
<!-- el navbar -->
<header id="cni-header" class="cni-header">
    <div class="menu-part">
        <div class="container">
            <div class="cni-main-menu">
                <nav>
                    <div class="menu-toggle">
                        <div class="logo"><a href="/" class="logo-text"> <img width="50px" src="/images/logo.webp"
                                    alt="logo"></a></div>
                        <button type="button" id="menu-btn">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="cni-inner-menus">
                        <ul id="backmenu" class="cni-menus home cni-sub-shadow">
                            <li> <a href="/">Inicio</a>
                            </li>
                            <li> <a href="/quienes-somos">Quiénes somos?</a>
                            </li>
                            <li> <a href="/talleres">Talleres</a>
                                <ul>
                                    <li> <a href="#">Carpinteria</a></li>
                                    <li> <a href="#">Computacion</a></li>
                                    <li> <a href="#">Electricidad</a></li>
                                    <li> <a href="#">Banda y Musica</a></li>
                                </ul>
                            </li>
                            <li> <a href="/docentes">Docentes</a>
                            </li>
                            <li> <a href="/gestion">Gestión</a>
                            </li>
                            <li> <a href="/horario">Calendario</a>
                            </li>
                            <li> <a href="/noticias">Noticas</a>
                            </li>

                            <li class="searchbar-part">
                                <a href="/contacto" class="vs-btn wave-btn mt-60 text-white boton">Contactar</a>

                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
