<!-- ! =================  head ================ -->

<%- include('./partials/head.ejs', {title: 'Inicio' , url: './images/CNI_Marchando.webp' })%>

    <body>
        <!-- ! =================  Navigation ================ -->
        <%- include('./partials/header.ejs') %>

            <!-- contenido #1 el titulo -->
            <div style="height: 780px;"
                class="cni_populars_topics cni_populars_topics2 cni_populars_topics_about pb---80">
                <div class="container">
                    <div class="principal">
                        <div class="c-principal">
                            <img class="hero3__shape-1 imagen-izquierda" src="/images/logo.webp"
                                alt="Banner shape image">
                            <div class="texto-derecha">
                                <h1>Docentes</h1>
                                <a style="margin-top: 50px;" href="#docentes" class="vs-btn wave-btn mt-60">Ver más</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ! =================  Fecha Slider ================= -->

            <%- include('./partials/fecha_slider.ejs')%>

                <div id="docentes" style="background-color: #031333;" class="cni-course-filter pb---100 ">
                    <div class="container">
                        <div class="cni__title__section cni__title__section-all">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <h6>Autoridades</h6>
                                    <h2 class="cni__tittle text-white">Cuerpo Jerárquico</h2>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="single-studies col-lg-4 grid-item">
                                <div class="inner-course">
                                    <div class="case-img">
                                        <img src="/images/docentes-cni/1.png" alt="Course Image">
                                    </div>
                                    <div class="case-content">
                                        <h4 class="case-title"> <a href="#">María Choquevilca Cuno</a></h4>
                                        <div class="cni__user">
                                            Directora
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single-studies col-lg-4 grid-item">
                                <div class="inner-course">
                                    <div class="case-img">
                                        <img src="/images/docentes-cni/2.png" alt="Course Image">
                                    </div>
                                    <div class="case-content">
                                        <h4 class="case-title"> <a href="#">Zulema Zamudio Espinoza</a></h4>
                                        <div class="cni__user">
                                            Sub Directora
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single-studies col-lg-4 grid-item">
                                <div class="inner-course">
                                    <div class="case-img">
                                        <img src="/images/docentes-cni/3.png" alt="Course Image">
                                    </div>
                                    <div class="case-content">
                                        <h4 class="case-title"> <a href="#">María Choquevilca Cuno</a></h4>
                                        <div class="cni__user">
                                            Coordinadora de TOE
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single-studies col-lg-4 grid-item">
                                <div class="inner-course">
                                    <div class="case-img">
                                        <img src="/images/docentes-cni/1.png" alt="Course Image">
                                    </div>
                                    <div class="case-content">
                                        <h4 class="case-title"> <a href="#">María Choquevilca Cuno</a></h4>
                                        <div class="cni__user">
                                            Directora
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single-studies col-lg-4 grid-item">
                                <div class="inner-course">
                                    <div class="case-img">
                                        <img src="/images/docentes-cni/2.png" alt="Course Image">
                                    </div>
                                    <div class="case-content">
                                        <h4 class="case-title"> <a href="#">Zulema Zamudio Espinoza</a></h4>
                                        <div class="cni__user">
                                            Sub Directora
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single-studies col-lg-4 grid-item">
                                <div class="inner-course">
                                    <div class="case-img">
                                        <img src="/images/docentes-cni/3.png" alt="Course Image">
                                    </div>
                                    <div class="case-content">
                                        <h4 class="case-title"> <a href="#">María Choquevilca Cuno</a></h4>
                                        <div class="cni__user">
                                            Coordinadora de TOE
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>


                <!-- ! =================  Footer ================ -->
                <%- include('./partials/footer.ejs')%>
    </body>

    </html>