<!-- ! =================  head ================ -->

<%- include('./partials/head.ejs', {title: 'Gestión' , url: './images/CNI_Marchando.webp' })%>

    <body>
        <!-- ! =================  Navigation ================ -->
        <%- include('./partials/header.ejs') %>

            <!-- contenido #1 el titulo -->
            <div style="height: 780px;"
                class="cni_populars_topics cni_populars_topics2 cni_populars_topics_about pb---80">
                <div class="container">
                    <div class="principal">
                        <div class="c-principal">
                            <img class="hero3__shape-1 imagen-izquierda" src="/images/logo.webp"
                                alt="Banner shape image">
                            <div class="texto-derecha">
                                <h1>Gestión</h1>
                                <h2>la información del colegio</h2>
                                <a style="margin-top: 50px;" href="#" class="vs-btn wave-btn mt-60">Infórmate</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ! =================  Fecha Slider ================= -->

            <%- include('./partials/fecha_slider.ejs')%>

                <!-- Contenido #3 talleres cni -->
                <div style="background-color: #F2F1EF;" class="overview-section-seven pt---90 pb---90">
                    <div class="container">
                        <div class="row justify-content-between align-items-center">
                            <div class="col-xl-6">
                                <div class="overview-pictures">
                                    <div class="image-row">
                                        <div class="image-item"><img src="/images/talleres-cni/2.png" alt=""></div>
                                        <div class="image-item"><img src="/images/talleres-cni/1.png" alt=""></div>
                                        <div class="image-item"><img src="/images/talleres-cni/1.png" alt=""></div>
                                        <div class="image-item"><img src="/images/talleres-cni/2.png" alt=""></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="contents">
                                    <div class="section-title-area-seven">
                                        <div class="section-pretitle">CNI
                                        </div>
                                        <div class="section-title">Reglamentos Internos
                                        </div>
                                        <p> Art. 32°. Del Municipio Escolar... <br>
                                            Art. 99°. Deberes Del Estudiante... <br>
                                            Art. 100°. Derechos Del Estudiante... <br>
                                            Art. 102°. Prohibiciones... <br>
                                            Art. 104°. Acciones Reparadoras... <br>
                                            Art. 105°. Del Brigadier General... <br>
                                            Art. 106°. De Los Brigadieres Del Aula...</p>
                                        <a href="#" class="vs-btn wave-btn">Descargar</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

                <div class="instructor-section pt---100 pb---100">
                    <div class="container">
                        <div class="instructor-inner">
                            <div class="content">
                                <h1 class="instructor-title">Become An Instructor</h1>
                                <p class="instructor-info">Nullam, maecenas? Justo, sodales. Perferendis, maecenas
                                    convallis
                                    diamlorem
                                    officia aliqua justo gravida debitis! Explicabo ipsum natoque convallis.</p>
                            </div>
                            <a href="#" class="vs-btn wave-btn">Descargar</a>
                        </div>
                    </div>
                    <div class="container pt---10">
                        <div class="instructor-inner">
                            <div class="content">
                                <h1 class="instructor-title">Become An Instructor</h1>
                                <p class="instructor-info">Nullam, maecenas? Justo, sodales. Perferendis, maecenas
                                    convallis
                                    diamlorem
                                    officia aliqua justo gravida debitis! Explicabo ipsum natoque convallis.</p>
                            </div>
                            <a href="#" class="vs-btn wave-btn">Descargar</a>
                        </div>
                    </div>
                </div>

                <!-- ! =================  Footer ================ -->
                <%- include('./partials/footer.ejs')%>
    </body>

    </html>