<!-- ! =================  head ================ -->

<%- include('./partials/head.ejs', {title: 'Inicio' , url: './images/panel.jpg' })%>

    <body>
        <!-- ! =================  Navigation ================ -->
        <%- include('./partials/header.ejs') %>

            <!-- ! =================  Contenido # 1 Contenido Principal================= -->
            <div style="height: 780px;"
                class="cni_populars_topics cni_populars_topics2 cni_populars_topics_about pb---80">
                <div class="container">
                    <div class="principal">
                        <div class="c-principal">
                            <img class="hero3__shape-1 imagen-izquierda" src="/images/logo.webp"
                                alt="Banner shape image">
                            <div class="texto-derecha">
                                <h1 class="ml16" id="titulo">Bienvenidos al colegio CNI</h1>
                                <h2 class="ml2">HONOR, GALLARDÍA Y DISCIPLINA</h2>

                                <a style="margin-top: 50px;" href="#ver-mas" class="animate__animated animate__bounce animate__infinite vs-btn wave-btn mt-60">Ver
                                    Más</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            
            <!-- ! =================  Fecha Slider ================= -->
           
            <%-  include('./partials/fecha_slider.ejs')%>
        
            <!-- ! =================  Contenido # 2 Contenido de Portada ================= -->
            <div style="background-color: #031333;" id="ver-mas"
                class="cni_populars_topics cni_populars_topics2 cni_populars_topics_about pb---80">
                <div style="background-color: #031333;" class="cni__title__section cni__title__section-all">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h6 class="animate__animated animate__headShake animate__infinite">CNI</h6>
                            <h2 class="cni__tittle text-white animacion-texto">Colegio Nacional de Imperial</h2>
                        </div>
                    </div>
                </div>
                <div class="container">

                    <div class="row pt---30 justify-content-md-center">
                        <div class="col-lg-5">
                            <div class="item__inner">
                                <div class="icon animate__animated animate__zoomIn">
                                    <img src="/images/fotos-cni/principal.jpg"
                                        alt="Icon image">
                                </div>
                                <div class="cni-content text-center">
                                    <h3 class="cni-title"><a href="#">Secundaria</a></h3>
                                    <p>El colegio cuenta con el Nivel de educación todo Secunadria.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ! =================  Contenido # 4 Cotenido de Taller ================= -->

            <div style="background-color: #F2F1EF;" class="overview-section-seven pt---90">
                <div class="container">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-xl-6">
                            <div class="overview-pictures">
                                <div class="image-row">
                                    <div class="image-item animate__animated animate__zoomIn animate__delay-1s"><img src="/images/talleres-cni/2.png" alt=""></div>
                                    <div class="image-item animate__animated animate__zoomIn animate__delay-2s"><img src="/images/talleres-cni/1.png" alt=""></div>
                                    <div class="image-item animate__animated animate__zoomIn animate__delay-1s"><img src="/images/talleres-cni/1.png" alt=""></div>
                                    <div class="image-item animate__animated animate__zoomIn animate__delay-2s"><img src="/images/talleres-cni/2.png" alt=""></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="contents">
                                <div class="section-title-area-seven">
                                    <div class="section-pretitle animate__animated animate__headShake animate__infinite">Talleres
                                    </div>
                                    <div class="section-title">Conoce nuestros talleres educativos
                                    </div>
                                    <p>Nuestro colegio cuenta con buenos talleres para reforzar el conocimiento de
                                        nuestros estudiantes.</p>
                                    <a href="/talleres" class="animate__animated animate__bounce animate__infinite vs-btn wave-btn">ver más</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
 
            <!-- ! =================  Contenido # 5 Quiénes Somos ================= -->

            <div style="background-color: #031333;" class="journey-section home-five pt---90 pb---50">
                <div class="container">
                    <div class="cni__title__section cni__title__section-all">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <h6 class="animate__animated animate__headShake animate__infinite">Quiénes somos?</h6>
                                <h2 class="cni__tittle text-white animacion-texto">Conocenos</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row text-center justify-content-center">
                        <div class="col-xl-4 col-md-6">
                            <div class="journey-card">
                                <div style="height: 380px;" class="journey-card-picture"><a href="/quienes-somos"><img
                                            src="/images/mision.png" alt="card-picture"
                                            style="width: 350px;background: linear-gradient(1deg, #0B1189 0.53%, rgba(1, 1, 9, 0.06) 95.35%, rgba(0, 0, 0, 0.00) 101.68%);height: 325px;"></a>
                                </div>
                                <div class="journey-contents">
                                    <span class="lessons">MISIÓN</span>
                                    <div class="card-title"><a href="/quienes-somos">"Somos una Institución
                                            Educativa Pública, líder, inclusiva, humanística y técnica.</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6">
                            <div class="journey-card">
                                <div style="height: 380px;" class="journey-card-picture"><a href="/quienes-somos"><img
                                            src="/images/vision.png" alt="card-picture"
                                            style="width: 350px;background: linear-gradient(1deg, #0B1189 0.53%, rgba(1, 1, 9, 0.06) 95.35%, rgba(0, 0, 0, 0.00) 101.68%);height: 325px;"></a>
                                </div>
                                <div class="journey-contents">
                                    <span class="lessons">VISIÓN</span>
                                    <div class="card-title"><a href="/quienes-somos">"Somos una Institución
                                            Educativa Pública, líder, inclusiva, humanística y técnica.</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="section-title-area-seven pt---50">
                            <a href="quienes-somos" style="background-color: white;  color: #031333;"
                                class="vs-btn wave-btn">ver
                                más</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ! =================  Contenido # 6 Cotenido de Docentes ================= -->

            <div style="background-color: #F2F1EF;" class="about__area about2__area p-relative pt---90 pb---120">
                <div class="container about__area-width">
                    <div class="cni__title__section cni__title__section-all">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <h6 class="animate__animated animate__headShake animate__infinite">Directora</h6>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="about__image">
                                <img width="500px" height="350" src="/images/directo.png" alt="About">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="about__content">
                                <h2 class="about__title pt---50">María Choquevilca Cuno</h2>
                                <p style="font-size: 25px; margin-top: 35px;" class="about__paragraph">"El futuro
                                    esta
                                    en aprender cada dia de la vida"</p>
                            </div>
                            <div class="section-title-area-seven pt---50 text-center">
                                <a href="docentes" class="animate__animated animate__bounce animate__infinite vs-btn wave-btn ">Ver todos los docentes</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ! =================  Contenido # 7 Cotenido de Ideario ================= -->

            <div style="background-color: #031333;" class="cni-blog__area blog__area pt---60 graybg-home">
                <div class="container blog__width">
                    <div class="cni__title__section cni__title__section-all">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <h6 class="animate__animated animate__headShake animate__infinite">CNI</h6>
                                <h2 class="cni__tittle text-white animacion-texto">Ideario</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-xxl-3 col-xl-4 col-lg-3 col-md-6 col-sm-12 col-12 pt---50 pb---50">
                            <div class="blog__card mb-50">
                                <div class="blog__thumb w-img p-relative">
                                    <a class="blog__thumb--image" href="#">
                                        <img style="background: linear-gradient(1deg, #0B1189 0.53%, rgba(1, 1, 9, 0.06) 95.35%, rgba(0, 0, 0, 0.00) 101.68%)"
                                            src="/images/fotos-cni/ideario1.png"
                                            alt="This the first card image">
                                    </a>
                                </div>
                                <div class="blog__card--content">
                                    <div class="blog__card--content-area mb-25">
                                        <span class="blog__card--date">Educación de calidad</span>
                                        <h3 class="blog__card--title"><a href="#">
                                                Capacitación del docente. <br>
                                                Desarrollo de habilidades. <br>
                                                Proyectos. <br>
                                                Trabajo colaborativo. <br> </a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-3 col-xl-4 col-lg-3 col-md-6 col-sm-12 col-12 pt---50 pb---50">
                            <div class="blog__card mb-50">
                                <div class="blog__thumb w-img p-relative">
                                    <a class="blog__thumb--image" href="#">
                                        <img style="background: linear-gradient(1deg, #0B1189 0.53%, rgba(1, 1, 9, 0.06) 95.35%, rgba(0, 0, 0, 0.00) 101.68%)"
                                            src="/images/fotos-cni/ideario2.png"
                                            alt="This the first card image">
                                    </a>
                                </div>
                                <div class="blog__card--content">
                                    <div class="blog__card--content-area mb-25">
                                        <span class="blog__card--date">Ambiante Educativo</span>
                                        <h3 class="blog__card--title"><a href="#">
                                                Alegría <br>
                                                PLataformas virtuales<br>
                                                Tecnología integrada <br>
                                                Innovación <br> </a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-3 col-xl-4 col-lg-3 col-md-6 col-sm-12 col-12 pt---50 pb---50">
                            <div class="blog__card mb-50">
                                <div class="blog__thumb w-img p-relative">
                                    <a class="blog__thumb--image" href="#">
                                        <img style="background: linear-gradient(1deg, #0B1189 0.53%, rgba(1, 1, 9, 0.06) 95.35%, rgba(0, 0, 0, 0.00) 101.68%)"
                                            src="/images/fotos-cni/ideario3.png"
                                            alt="This the first card image">
                                    </a>
                                </div>
                                <div class="blog__card--content">
                                    <div class="blog__card--content-area mb-25">
                                        <span class="blog__card--date">Proyecto de Vida</span>
                                        <h3 class="blog__card--title"><a href="#">
                                                Libertad responsable. <br>
                                                Educar para el futuro. <br>
                                                Acompañamiento de alumno <br>
                                                Líderes del cambio<br></a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ! =================  Contenido # 8 Cotenido de Fotos de la IEP ================= -->

            <div style="background-color: #F2F1EF;" class="cni_popular_topics pt---100 pb---70">
                <div class="container">
                    <div class="cni__title__section cni__title__section-all">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <h6 class="animate__animated animate__headShake animate__infinite">CNI</h6>
                                <h2 class="cni__tittle">Fotos de la IEP </h2>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="item__inner">
                                <div class="icon">
                                    <img src="/images/fotos-cni/2.png" alt="image">
                                </div>
                                <div class="cni-content">
                                    <a href="#" class="r__link">20/05/2023</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="item__inner">
                                <div class="icon">
                                    <img src="/images/fotos-cni/1.png" alt="image">
                                </div>
                                <div class="cni-content">
                                    <a href="#" class="r__link">20/05/2023</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="item__inner">
                                <div class="icon">
                                    <img src="/images/fotos-cni/3.png" alt="image">
                                </div>
                                <div class="cni-content">
                                    <a href="#" class="r__link">20/05/2023</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="item__inner">
                                <div class="icon">
                                    <img src="/images/fotos-cni/4.png" alt="image">
                                </div>
                                <div class="cni-content">
                                    <a href="#" class="r__link">20/05/2023</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ! =================  Contenido # 9 Cotenido de Contacto ================= -->
            <div style="background-color: #F2F1EF;" id="cni-contact" class="cni-contact-page pt---40">
                <div class="container">
                    <div class="row pb---96">
                        <div class="col-lg-8">
                            <div class="cni-blog-form">
                                <h2 class="contact-title">Preguntas? <br> Puedes contactarnos.
                                </h2>
                                <div id="blog-form" class="blog-form">
                                    <div id="form-messages"></div>
                                    <form id="contact-form" action="/contactar" method="post" novalidate>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="back-input">
                                                    <input type="text" name="nombre_completo" id="nombre_completo"
                                                        placeholder="Nombre Completo">
                                                </div>
                                            </div>
                                            <div class="col-lg-6 pdl-5">
                                                <div class="back-input">
                                                    <input type="email" name="correo_electronico"
                                                        id="correo_electronico" placeholder="Email" pattern=".*"
                                                        novalidate>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="back-input">
                                                    <input type="text" name="asunto" id="asunto" placeholder="Asunto"
                                                        required>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 pdl-5">
                                                <div class="back-input">
                                                    <input type="text" name="numero_celular" placeholder="Celular"
                                                        id="numero_celular">
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="back-textarea">
                                                    <textarea name="contenido_mensaje" id="contenido_mensaje"
                                                        placeholder="Mensaje" required></textarea>
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <button type="submit" class="vs-btn wave-btn">Enviar<svg
                                                        xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                        viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                        class="feather feather-arrow-right">
                                                        <line x1="5" y1="12" x2="19" y2="12"></line>
                                                        <polyline points="12 5 19 12 12 19"></polyline>
                                                    </svg></button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 pt---130 text-center">
                            <img src="https://img.freepik.com/vector-gratis/mano-sosteniendo-contacto-de-telefono-inteligente_24908-13003.jpg?size=338&ext=jpg"
                                alt="">
                        </div>
                    </div>
                </div>
            </div>

            <!-- ! =================  Footer ================ -->
            <%- include('./partials/footer.ejs')%>
           
                <script src="/javascript/validacion_contacto.js"></script>

    </body>

    </html>