<!-- ! =================  head ================ -->

<%- include('./partials/head.ejs', {title: 'Inicio' , url: './images/CNI_Marchando.webp' })%>

    <body style="background-color: #031333;">
        <style>
            .card {
                position: relative;
                width: 190px;
                color: white;
                height: 260px;
                background: #031333;
                border-radius: 14px;
                width: 350px;
                height: 400px;
                margin: 25px;
            }

            .bg {
                position: absolute;
                z-index: -1;
                inset: -4px;
                border-radius: 16px;
                overflow: hidden;
            }

            .uwu {
                filter: blur(8px);
                transition: filter 0.3s;
            }

            .bg::before {
                content: '';
                position: absolute;
                aspect-ratio: 1/1;
                top: 50%;
                left: 50%;
                min-width: 150%;
                min-height: 150%;
                background-image: conic-gradient(hsl(0, 100%, 50%),
                        hsl(30, 100%, 50%),
                        hsl(60, 100%, 50%),
                        hsl(90, 100%, 50%),
                        hsl(120, 100%, 50%),
                        hsl(150, 100%, 50%),
                        hsl(180, 100%, 50%),
                        hsl(210, 100%, 50%),
                        hsl(240, 100%, 60%),
                        hsl(270, 100%, 50%),
                        hsl(300, 100%, 50%),
                        hsl(330, 100%, 50%),
                        hsl(360, 100%, 50%));
                animation: speeen 4s linear infinite;
                transform-origin: 0% 0%;
                transform: rotate(0deg) translate(-50%, -50%);
            }

            @keyframes speeen {
                from {
                    transform: rotate(0deg) translate(-50%, -50%);
                }

                to {
                    transform: rotate(360deg) translate(-50%, -50%);
                }
            }

            .content {
                position: relative;
                padding: 14px 16px;
            }


            .content div {
                text-align: center;
            }

            .h1 {
                margin-top: 1em;
                margin-bottom: 0.5em;
                font-size: 1em;
                font-weight: 600;
            }

            .p {
                font-size: 13px;
            }

            .p p {
                margin-top: 0.5em;
                padding: 0.5em;
                background-color: #0003;
                border-radius: 1em;
            }
        </style>
        <!-- ! =================  Navigation ================ -->
        <%- include('./partials/header.ejs') %>

            <div class="cni-login-page cni-signup-page pt---80 pb---120">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="login-right-form">
                                <form action="/notas" method="post" onsubmit="return validarInicioSesion()" novalidate>
                                    <div class="login-top">
                                        <h3>Login Estudiante</h3>
                                        <p>Login <a href="/registrar"> Registrar</a>
                                        </p>
                                    </div>
                                    <p>
                                        <label>Email</label>
                                        <input placeholder="Email" type="email" id="nombre" name="nombre" required>
                                    </p>
                                    <p>
                                        <label>Dni</label>
                                        <input placeholder="Dni" id="dni" name="dni" required>
                                    </p>
                                    <button type="submit" id="button" name="submit">Iniciar Sesión <svg
                                            xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            class="feather feather-arrow-right">
                                            <line x1="5" y1="12" x2="19" y2="12"></line>
                                            <polyline points="12 5 19 12 12 19"></polyline>
                                        </svg></button>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- ! =================  Footer ================ -->
            <%- include('./partials/footer.ejs')%>
                

                <script>
                    function validarInicioSesion() {
                        // Obtén los valores de nombre y DNI
                        var nombre = document.getElementById('nombre').value;
                        var dni = document.getElementById('dni').value;

                        // Validar si nombre o DNI están vacíos
                        if (!nombre || !dni) {
                            // Mostrar alerta de error con SweetAlert2
                            Swal.fire({
                                icon: 'error',
                                title: 'Error',
                                text: 'Por favor, ingresa tanto el nombre como el DNI.'
                            });
                            return false; // Evitar el envío del formulario
                        }

                        // Si la validación es exitosa, el formulario se enviará normalmente
                        return true;
                    }
                </script>

                <% if (error) { %>
                    <!-- Mostrar SweetAlert2 cuando el estudiante no es encontrado -->
                    <script>
                        Swal.fire({
                            icon: 'error',
                            title: 'Error',
                            text: '<%= error %>'
                        });
                    </script>
                    <% } %>



    </body>

    </html>