<!-- ! =================  head ================ -->

<%- include('./partials/head.ejs', {title: 'Quiénes Somos' , url: './images/CNI_Marchando.webp' })%>


    <body>
        <!-- ! =================  Navigation ================ -->
        <%- include('./partials/header.ejs') %>

            <!-- ! =================  Contenido # 1 Contenido Principal================= -->
            <div style="height: 780px;"
                class="cni_populars_topics cni_populars_topics2 cni_populars_topics_about pb---80">
                <div class="container">
                    <div class="principal">
                        <div class="c-principal">
                            <img class="hero3__shape-1 imagen-izquierda" src="/images/logo.webp"
                                alt="Banner shape image">
                            <div class="texto-derecha">
                                <h1>¿ Quienes Somos ?</h1>
                                <h2>Aquí encontraras toda la información

                                </h2>
                                <a style="margin-top: 50px;" href="#historia" class="vs-btn wave-btn mt-60">Ver
                                    Más</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ! =================  Fecha Slider ================= -->

            <%- include('./partials/fecha_slider.ejs')%>

                <!-- ! =================  Contenido # 2 Contenido Visión y Misión ================= -->

                <div style="background-color: #031333;" class="journey-section home-five pb---50">
                    <div class="container">
                        <div class="cni__title__section cni__title__section-all">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <h2 class="cni__tittle text-white">MISIÓN</h2>
                                </div>
                            </div>
                        </div>
                        <div class="row text-center justify-content-center">
                            <div class="col-xl-8 col-md-6">
                                <div class="journey-card">
                                    <div style="height: 380px;" class="journey-card-picture"><a href="#"><img
                                                src="/images/mision.png" alt="card-picture"
                                                style="width: 350px;background: linear-gradient(1deg, #0B1189 0.53%, rgba(1, 1, 9, 0.06) 95.35%, rgba(0, 0, 0, 0.00) 101.68%);height: 325px;"></a>
                                    </div>
                                    <div class="journey-contents">
                                        <span class="lessons">MISION</span>
                                        <div class="card-title"><a href="#">"Somos una Institución
                                                Educativa Pública, líder, inclusiva, humanística y técnica.</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- ! =================  Contenido # 3 Contenido Visión y Misión ================= -->

                <div style="background-color: #031333;" class="journey-section home-five pb---50">
                    <div class="container">
                        <div class="cni__title__section cni__title__section-all">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <h2 class="cni__tittle text-white">VISIÓN</h2>
                                </div>
                            </div>
                        </div>
                        <div class="row text-center justify-content-center">
                            <div class="col-xl-8 col-md-6">
                                <div class="journey-card">
                                    <div style="height: 380px;" class="journey-card-picture"><a href="#"><img
                                                src="/images/vision.png" alt="card-picture"
                                                style="width: 350px;background: linear-gradient(1deg, #0B1189 0.53%, rgba(1, 1, 9, 0.06) 95.35%, rgba(0, 0, 0, 0.00) 101.68%);height: 325px;"></a>
                                    </div>
                                    <div class="journey-contents">
                                        <span class="lessons">MISION</span>
                                        <div class="card-title"><a href="#">"Somos una Institución
                                                Educativa Pública, líder, inclusiva, humanística y técnica.</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- ! =================  Contenido # 4 Contenido Historia ================= -->

                <div id="historia" style="background-color: #F2F1EF;"
                    class="about__area about2__area p-relative pt---50 pb---120">
                    <div class="container about__area-width">
                        <div class="row">
                            <div class="col-lg-12">

                                <div class="blog-single-inner">
                                    <div class="blog-content">
                                        <p>El Colegio CNI Imperial se erige como un faro de conocimiento en Cañete,
                                            destacando por su metodología innovadora y su enfoque en la excelencia
                                            académica.</p>

                                        <blockquote>Tradición educativa en el corazón de Cañete<em>"Forjando Líderes del
                                                Mañana"</em></blockquote>

                                        <h3>Un legado de educación de calidad</h3>

                                        <p>Desde su establecimiento, el Colegio CNI Imperial ha jugado un papel crucial
                                            en la educación regional. Con una visión centrada en la excelencia y la
                                            innovación, el colegio ha evolucionado para ofrecer un currículo que no solo
                                            cumple con los estándares nacionales, sino que también incorpora una
                                            perspectiva global, preparando a sus estudiantes para ser ciudadanos del
                                            mundo.</p>

                                        <div class="blog-image" style="text-align: center;">
                                            <img id="imagenMostrada" width="400px" src=""
                                                alt="Imagen del Colegio CNI Imperial">
                                            <div style="padding-top: 20px;">
                                                <button class="vs-btn wave-btn" id="botonAnterior">Anterior</button>
                                                <button class="vs-btn wave-btn" id="botonSiguiente">Siguiente</button>
                                            </div>
                                        </div>

                                        <p>El colegio ofrece programas de inmersión lingüística y tecnológica,
                                            asegurando que sus alumnos estén preparados para las demandas del siglo XXI.
                                        </p>

                                        <p>Además, cuenta con un equipo docente altamente cualificado y comprometido con
                                            la misión educativa del colegio.</p>

                                        <p>La institución promueve activamente el arte, la cultura y el deporte,
                                            complementando la formación académica con actividades extracurriculares
                                            enriquecedoras.</p>

                                        <div class="back-order-list pb---25">
                                            <h3>Compromiso con la Comunidad</h3>
                                            <p>El Colegio CNI Imperial no solo se dedica a la educación de los jóvenes
                                                sino que también es un activo participante en la comunidad de Cañete,
                                                contribuyendo al desarrollo social y cultural de la región.</p>
                                            <ul>
                                                <li><i class="icon_check"></i> Programas de becas y ayuda comunitaria.
                                                </li>
                                                <li><i class="icon_check"></i> Proyectos ecológicos para promover la
                                                    sostenibilidad.</li>
                                                <li><i class="icon_check"></i> Actividades inter-escolares para fomentar
                                                    el compañerismo.</li>
                                                <li><i class="icon_check"></i> Colaboraciones con instituciones
                                                    internacionales para el intercambio cultural.</li>
                                            </ul>
                                        </div>
                                        <a onclick="mostrarOcultarElemento()" class="vs-btn wave-btn">ver más</a>

                                        <p id="elementoOculto" style="display: none;">En esta sección podrás descubrir
                                            más sobre nuestros programas especializados, logros académicos destacados y
                                            testimonios de exalumnos que hoy son líderes en sus campos profesionales.
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- ! =================  Contenido # 5 Contenido Organigrama ================= -->

                <div style="background-color: #F2F1EF;" class="about__area about2__area p-relative pt---60 pb---50">
                    <div class="container about__area-width">
                        <div class="cni__title__section cni__title__section-all">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <h6 class="animate__animated animate__headShake animate__infinite">CNI</h6>
                                    <h2 class="cni__tittle">Organigrama</h2>
                                </div>
                            </div>
                        </div>
                        <div style="margin: 0 auto;" <div class="col-lg-6">
                            <div class="about__image" style="
display: flex;
justify-content: center;
">
                                <img width="500px" height="350" src="/images/organigrama.jpg" alt="About">
                            </div>
                        </div>

                    </div>
                </div>

                <!-- ! =================  Footer ================ -->
                <%- include('./partials/footer.ejs')%>

    </body>

    </html>