.post-add-comment input[type="text"] {
    padding: 8px;
    border: 1px solid #dbdbdb;
    border-radius: 4px
}

.post-add-comment button {
    background-color: #3897f0;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer
}

.post-add-comment input[type="text"],
.post-add-comment button {
    border-radius: 20px
}

.fa-paper-plane {
    font-size: 14px
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0
}

.chat-container {
    margin: 0px auto;
}

.chat-box {
    padding: 20px;
    max-height: 400px;
    overflow-y: auto
}

.user-input {
    display: flex;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #ddd
}

input[type="text"] {
    flex: 1;
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: #f8f8f8;
    margin-right: 10px;
    outline: none;
    color: black
}

button {
    padding: 8px 15px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    outline: none
}

button:hover {
    background-color: #0056b3
}

.small {
    margin: 0px 20px;
    color: white;
}